# MongoDB
MONGO_USER=admin
MONGO_PASS=TuPasswordSeguro123!
MONGO_URI=mongodb://admin:TuPasswordSeguro123!@mongo:27017/recipehub?authSource=admin

# JWT
JWT_SECRET=UnSecretoMuyLargoYAleatorioParaJWT123456789

# Puerto API
PORT=4000